* {
    padding: 0;
    margin: 0;
	 font-family: 'Montserrat', sans-serif;
}
section {
    width: 75%;
    margin: 0 auto;
}
.container {
    place-items: center;
}
.container img{
 	width: 100%;
}
hr {
	 width: 280px;
  	 margin-left: auto;
	 margin-right: auto;
	 height: 1px;
	 background-color:black;
	 opacity: 0.5;
}
.blog-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 100%;
    text-align: center;
    color: #000000;
}
.sub-blog-heading {
	 text-align: center;
	 font-size: 0.65rem;
}
h1 {
	 text-align: center;
	 margin-top: 20px;
	 font-weight: 400;
	 font-size: 1.5rem;
}
.blog-grid-container {
	 display: grid;
	 grid-gap: 15px;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
    grid-template-columns: 1fr 1fr;
}
.blog-grid-container-children img {
	 width: 100%;
}
.sub-blog-container {
    text-align: center;
	 font-size: 0.75rem;
}
.blog-grid-container-children-3 {
	 margin-top: 18px;
}
.blog-grid-container-children-3 img{
	 width: 100%;
}
.sub-blog-container-3 {
	 font-size: 0.8rem;
}
.blog-grid-container-children-4 {
	 margin-top: 15px;
}
.blog-grid-container-children-4 img{
	 width: 100%;
}


/*
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    place-items: center;
    justify-content: center;
}
*/